schema/env.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name="Site">
      <xs:complexType>
         <xs:all>
            <xs:element name="IsUnderMaintenance" type="xs:string"/>
            <xs:element name="Environment"/>
         </xs:all>
      </xs:complexType>
   </xs:element>
</xs:schema>