schema/Site.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name="Site">
      <xs:element name="IsUnderMaintenance" type="xs:string"/>
      <xs:element name="SiteTitle" type="xs:string"/>
      <!-- Contains all header elements -->
      <xs:element name="Header">
         <xs:element name="StyleSheets" type="xs:string"/>
      </xs:element>
      <xs:element name="Scripts">
         <xs:element name="Script" type="xs:string"/>
      </xs:element>
      <xs:element name="Footer">
         <xs:element name="Copyright" type="xs:string"/>
      </xs:element>
      <!-- Contains all links to go somewhere else -->
      <xs:element name="Links">
         <xs:element name="Link">
            <xs:element name="Name"/>
            <xs:element name="URL"/>
         </xs:element>
      </xs:element>
      <xs:element name="BioGuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- Slide shows -->
      <xs:element name="Projects">
         <xs:element name="Project">
            <xs:attribute name="Topic"/>
            <xs:element name="Description"/>
            <xs:element name="SlideShow">
               <xs:element name="ImageFile"/>
            </xs:element>
         </xs:element>
      </xs:element>
   </xs:element>

   <!-- Env config -->
   <xs:element name="Environment"/>

   <!-- FTP -->
   <xs:element name="Destination">
      <xs:attribute name="Name"/>
      <xs:element name="Site"/>
      <xs:element name="Processes">
         <xs:element name="Process">
            <xs:element name="Tag"/>
            <xs:element name="LCD"/>
            <xs:element name="CD"/>
            <xs:element name="Package"/>
         </xs:element>
      </xs:element>
   </xs:element>

   <!-- Environment Credentials -->
   <xs:element name="Variables">
      <xs:element name="Variable">
         <xs:attribute name="Environment"/>
         <xs:element name="Servername"/>
         <xs:element name="Username"/>
         <xs:element name="Password"/>
         <xs:element name="Database"/>
      </xs:element>
   </xs:element>
</xs:schema>